<!DOCTYPE html>
<html>

<head>
    <title>首页</title>
    <!--{include file="common/head.html"}-->
    <link href="../static/styles/page/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- header -->
    <!--{include file="common/header.html"}-->
    <!-- banner -->
    <div class="banner">
        <div class="images">
            <ul id="banner" class="bxslider">
                <li style="background: url(http://www.yidai.xyz/Resource/static_new/static/images/temp/Bitmap.png?v=20171025) center center no-repeat;"></li>
                <li style="background: url(http://www.yidai.xyz/Resource/static_new/static/images/temp/temp_4.jpg?v=20171025) center center no-repeat;"></li>
            </ul>
        </div>
        <div class="site-main">
            <div class="user-login">
                <div class="user" style="display: none;">
                    <p>Hi，夏日小辰日小辰夏...</p>
                    <big class="font-num">124410
                        <span>元</span>
                    </big>
                    <small>可用余额</small>
                </div>
                <a href="#" class="y-btn send">前往我的帐户</a>
            </div>
            <div class="user-login">
                <div class="earnings">
                    <big class="font-num">8.41%-15%</big>
                    <small>历史年化收益率约</small>
                </div>
                <a href="#" class="y-btn send">立即注册</a>
                <a href="#" class="more">已有帐号？立即登录</a>
            </div>
        </div>
    </div>
    <!-- feature -->
    <div class="feature">
        <div class="site-main clearfix">
            <div class="item">
                <span class="y-icon icon-yinhang"></span>
                <div class="text text-yinhang">
                    <p>正规合法</p>
                    <small>产品由持牌机构挂牌发行，安全合规</small>
                </div>
            </div>
            <div class="item">
                <span class="y-icon icon-guozi"></span>
                <div class="text text-guozi">
                    <p>四重审核</p>
                    <small>银行+AMC+持牌机构+宜湃</small>
                </div>
            </div>
            <div class="item">
                <span class="y-icon icon-fengkong"></span>
                <div class="text text-fengkong">
                    <p>真实透明</p>
                    <small>项目三类信息齐全，凭证可追溯</small>
                </div>
            </div>
            <div class="item">
                <span class="y-icon icon-shuju"></span>
                <div class="text text-shuju">
                    <p>风险保障</p>
                    <small>风险金垫付，银行级风控体系</small>
                </div>
            </div>
        </div>
        <div class="site-main clearfix notice">
            <div class="hd">
                <span class="y-icon icon-notice"></span>
                最新公告：
            </div>
            <div class="notice-list">
                <ul id="notice">
                    <li><a href="#">关于民生银行系统维护公告 <span>2017-11-24</span></a></li>
                    <li><a href="#">这是个新闻呀标题这他妈长啊？ 这是个新闻呀标题这他妈长啊？这是个新闻呀标题这他妈长啊？<span>2017-11-24</span></a></li>
                </ul>
            </div>
            <a href="#" class="more">查看更多<span class="y-icon icon-more"></span></a>
        </div>
    </div>
    <div class="site-main">
        <!-- title -->
        <div class="title">投资产品</div>
        <!-- invest -->
        <div class="product invest clearfix">
            <div class="hd">
                <h1>投资产品</h1>
                <p>优选资产，坐享收益</p>
                <img src="../static/images/big_image/index_1.png" />
                <a href="#" class="link-more">更多投资</a>
            </div>
            <div class="bd">
                <!--<div class="notData">
            		暂无相关数据，敬请期待
            	</div>-->
                <div class="product-item">
                    <div class="cont">
                        <p class="name">债梅先生债权贷借款6万元</p>
                        <div class="info">
                            <div class="interest">
                                <big class="font-num">8.62
                                    <span>%</span>
                                </big>
                                <p>历史年化收益率</p>
                            </div>
                            <div class="amount">
                                <b class="font-num">99,999,999.00
                                    <span>元</span>
                                </b>
                                <p>项目金额</p>
                            </div>
                            <div class="date">
                                <b class="font-num">20
                                    <span>天</span>
                                </b>
                                <p>项目期限</p>
                            </div>
                            <div class="progress">
                                <div class="strip-view">
                                    <div class="strip">
                                        <span style="width: 70%;"></span>
                                    </div>
                                    70%
                                </div>
                                <p>投资进度</p>
                            </div>
                        </div>
                    </div>
                    <div class="operation">
                        <a href="#" class="y-btn link">立即投资</a>
                    </div>
                </div>
                <div class="product-item">
                    <div class="cont">
                        <p class="name">债梅先生债权贷借款6万元</p>
                        <div class="info">
                            <div class="interest">
                                <big class="font-num">8.62
                                    <span>%</span>
                                </big>
                                <p>历史年化收益率</p>
                            </div>
                            <div class="amount">
                                <b class="font-num">100
                                    <span>元</span>
                                </b>
                                <p>项目金额</p>
                            </div>
                            <div class="date">
                                <b class="font-num">20
                                    <span>天</span>
                                </b>
                                <p>项目期限</p>
                            </div>
                            <div class="progress">
                                <div class="strip-view">
                                    <div class="strip">
                                        <span style="width: 70%;"></span>
                                    </div>
                                    70%
                                </div>
                                <p>投资进度</p>
                            </div>
                        </div>
                    </div>
                    <div class="operation">
                        <a href="#" class="y-btn link">立即投资</a>
                    </div>
                </div>
                <div class="product-item">
                    <div class="cont">
                        <p class="name">债梅先生债权贷借款6万元</p>
                        <div class="info">
                            <div class="interest">
                                <big class="font-num">8.62
                                    <span>%</span>
                                </big>
                                <p>历史年化收益率</p>
                            </div>
                            <div class="amount">
                                <b class="font-num">100
                                    <span>元</span>
                                </b>
                                <p>项目金额</p>
                            </div>
                            <div class="date">
                                <b class="font-num">20
                                    <span>天</span>
                                </b>
                                <p>项目期限</p>
                            </div>
                            <div class="progress">
                                <div class="strip-view">
                                    <div class="strip">
                                        <span style="width: 70%;"></span>
                                    </div>
                                    70%
                                </div>
                                <p>投资进度</p>
                            </div>
                        </div>
                    </div>
                    <div class="operation">
                        <a href="#" class="y-btn link">立即投资</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- title -->
        <div class="title">转让产品</div>
        <!-- transfer -->
        <div class="product transfer clearfix">
            <div class="hd">
                <h1>转让产品</h1>
                <p>急需用钱，灵活变现</p>
                <img src="../static/images/big_image/index_2.png" />
                <a href="#" class="link-more">更多转让</a>
            </div>
            <div class="bd">
                <div class="product-item">
                    <div class="cont">
                        <p class="name">不动产品项目17091509号</p>
                        <div class="info">
                            <div class="interest">
                                <big class="font-num">8.62
                                    <span>%</span>
                                </big>
                                <p>历史年化收益率</p>
                            </div>
                            <div class="amount">
                                <b class="font-num">100
                                    <span>元</span>
                                </b>
                                <p>转让金额</p>
                            </div>
                            <div class="date">
                                <b class="font-num">20
                                    <span>天</span>
                                </b>
                                <p>项目期限</p>
                            </div>
                            <div class="progress">
                                <div class="strip-view">
                                    <div class="strip">
                                        <span style="width: 70%;"></span>
                                    </div>
                                    70%
                                </div>
                                <p>投资进度</p>
                            </div>
                        </div>
                    </div>
                    <div class="operation">
                        <a href="#" class="y-btn link">立即承接</a>
                    </div>
                </div>
                <div class="product-item">
                    <div class="cont">
                        <p class="name">不动产品项目17091509号</p>
                        <div class="info">
                            <div class="interest">
                                <big class="font-num">8.62
                                    <span>%</span>
                                </big>
                                <p>历史年化收益率</p>
                            </div>
                            <div class="amount">
                                <b class="font-num">100
                                    <span>元</span>
                                </b>
                                <p>转让金额</p>
                            </div>
                            <div class="date">
                                <b class="font-num">20
                                    <span>天</span>
                                </b>
                                <p>项目期限</p>
                            </div>
                            <div class="progress">
                                <div class="strip-view">
                                    <div class="strip">
                                        <span style="width: 70%;"></span>
                                    </div>
                                    70%
                                </div>
                                <p>投资进度</p>
                            </div>
                        </div>
                    </div>
                    <div class="operation">
                        <a href="#" class="y-btn link">立即承接</a>
                    </div>
                </div>
                <div class="product-item">
                    <div class="cont">
                        <p class="name">不动产品项目17091509号</p>
                        <div class="info">
                            <div class="interest">
                                <big class="font-num">8.62
                                    <span>%</span>
                                </big>
                                <p>历史年化收益率</p>
                            </div>
                            <div class="amount">
                                <b class="font-num">100
                                    <span>元</span>
                                </b>
                                <p>转让金额</p>
                            </div>
                            <div class="date">
                                <b class="font-num">20
                                    <span>天</span>
                                </b>
                                <p>项目期限</p>
                            </div>
                            <div class="progress">
                                <div class="strip-view">
                                    <div class="strip">
                                        <span style="width: 70%;"></span>
                                    </div>
                                    70%
                                </div>
                                <p>投资进度</p>
                            </div>
                        </div>
                    </div>
                    <div class="operation">
                        <a href="#" class="y-btn link">立即承接</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- partners -->
    <div class="partners">
        <div class="site-main">
            <div class="title">媒体报道</div>
            <div class="news clearfix">
                <a href="#">
                    <img src="../static/images/temp/news.png" />
                    <p>加入全国互联网金融阳光计划 宜贷网将公开运营数...</p>
                </a>
                <a href="#">
                    <img src="../static/images/temp/news.png" />
                    <p>加入全国互联网金融阳光计划 宜贷网将公开运营数...</p>
                </a>
                <a href="#" class="no-mg right">
                    <img src="../static/images/temp/news.png" />
                    <p>加入全国互联网金融阳光计划 宜贷网将公开运营数...</p>
                </a>
            </div>
            <!-- title -->
            <div class="title">合作伙伴</div>
            <div class="lists clearfix">
                <a href="#">
                    <img src="../static/images/temp/temp_3.png" />
                </a>
                <a href="#">
                    <img src="../static/images/temp/temp_3.png" />
                </a>
                <a href="#">
                    <img src="../static/images/temp/temp_3.png" />
                </a>
                <a href="#">
                    <img src="../static/images/temp/temp_3.png" />
                </a>
                <a href="#">
                    <img src="../static/images/temp/temp_3.png" />
                </a>
                <a href="#">
                    <img src="../static/images/temp/temp_3.png" />
                </a>
                <a href="#">
                    <img src="../static/images/temp/temp_3.png" />
                </a>
                <a href="#">
                    <img src="../static/images/temp/temp_3.png" />
                </a>
            </div>
        </div>
    </div>
    <!-- footer -->
    <!--{include file="common/footer.html"}-->
    <!-- tools abr -->
    <!--{include file="common/tools_bar.html"}-->
</body>
<script src="../static/scripts/lib/require.js"></script>
<script src="../static/scripts/config.js"></script>
<script>
    require(['/static/scripts/page/index.js'])
</script>

</html>